/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #335e63;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family:serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 225%;
  color:#d4ffe1;
}

h2 {
  color:#b16363;
}

p {
  color:#223a3c;
}

body {
  margin-left: 20%;
  margin-right: 20%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  background-color: #619c92;
  border-radius: 10px;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #dbc6bb;
  border-radius: 10px;
}
