/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
    background-color: #d4ffe1;
    overflow: auto;
  }
  
  .minor-section {
    overflow: auto;
  }
  h1 {
    color:#619c92;
  }
  
  img.screenshot {
    margin-top: 20px;
    width: 100%;
  }

  img.fish {
    max-width: 30%;
  }
  
  a,li {
    color: #619c92;
  }

  .special {
    background-color: #619c92;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }