/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
  background-color: #d4ffe1;
}

h1 {
  color:#619c92;
}

a,li {
  color: #619c92;
}